.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/Python-Projects.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
.idea/modules.xml
.idea/workspace.xml